.high-score-table {
  max-width: 500px !important;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 3% 0;
}

.highscore-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.highscore-item {
  margin: 0 5px;
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}


