main {
  width: 100%;
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 20;
  position: relative;
  flex-basis: 100px;
}

.game-info {
  width: 100%;
  flex-basis: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(36,36,36, 0.3) !important;
}

.game-view {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.choices {
  width: 100%;
  flex-basis: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(36, 36, 36, 0.2) !important;
  padding: 0 10% 2%;
}

.help {
  font-size: 16px;
}

.round,.help, .score, .winner  {
  flex-basis: 33%;
}

.winner {
  text-transform: capitalize;
}

.mode-title {
  flex-basis: 10%;
  font-size: 48px;
  letter-spacing: 5px;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
}

.footer {
  box-shadow: none !important;
  width: 100%;
  background: transparent !important;
  flex-basis: 10%;
}

.choice-card {
  flex-basis: 40%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title-choice {
  flex-basis: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.image-choice-container {
  flex-basis: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.image-choice {
  transform: scale(2);
  filter: brightness(300%);
  z-index: 1000;
  position: absolute;
  top: 40%;
}

.choice-button {
  transform: scale(1.2);
  margin: 0 20px !important;
  background-color: rgba(26,26,26, 0.2) !important;
}

.settings-modal {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings-button {
  border: 1px solid #d2d2d2 !important;
  width: 90%;
}

.settings-title {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  font-size: 24px;
}

.win {
  animation: 0.2s win linear;
}

.lose {
  animation: 0.2s lose linear;
}

.draft {
  animation: 0.2s draft linear;
}

@keyframes win {
  from {
    background-color: green;
  }

  to {
    color: inherit;
  }
}

@keyframes lose {
  from {
    background-color: red;
  }

  to {
    color: inherit;
  }
}

@keyframes draft {
  from {
    background-color: gray;
  }

  to {
    color: inherit;
  }
}

.score-mode {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: -15;
  color: rgba(255, 255, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(40%);
}

.big-score-mode-title {
  font-size: 120px;
  letter-spacing: 10px;
  animation: chill 30s linear infinite;

}

@keyframes chill {
  0% {
    transform:
            rotate3d(1, 1, 0, 300deg)
            translate3d(-500px, -500px, 0px)
            scale(0);
  }

  5% {
    transform:
            rotate3d(1, 1, 0, 200deg)
            translate3d(500px, -500px, 0px)
            scale(3);
  }

  40% {
    transform:
            rotate3d(1, 1, 0, 100deg)
            translate3d(500px, 500px, 0px)
            scale(0);
  }

  75% {
    transform:
            rotate3d(1, 1, 0, 200deg)
            translate3d(-500px, 500px, 0px)
            scale(5);
  }

  100% {
    transform:
            rotate3d(1, 1, 1, 300deg)
            translate3d(-500px, -500px, 0px)
            scale(0);
  }
}

.score {
  flex-basis: 15%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1% 0 0;
}

.score-title {
  flex-basis: 33%;
}

.score-value {
  flex-basis: 33%;
  flex-grow: 1;
  font-size: 50px;
}

.reset-draw-button {
  width: 100%;
  background-color: rgba(24,24,24, 0.2) !important;
}

.reset-draw-container {
  width: 100%;
  flex-basis: 33%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
